<div class="profile card" data-id="profile">
	<div class="cardContent">
		<div class="open">
			{{> cards/data/profile/open}}
		</div>
		<div class="closed">
			{{> cards/data/profile/closed}}
		</div>
	</div>
</div>