{{> cards/components/closeButton}}
<div class="profileText">
	<h3 class="name">Grant Timmerman</h3>
	<h6 class="twitterHandle"><a href="https://twitter.com/granttimmerman">@granttimmerman</a></h6>
	<p class="longBio">Prosciutto landjaeger pancetta andouille pastrami shankle. Chicken tongue doner biltong corned beef. Biltong doner tail, fatback capicola beef brisket flank frankfurter ground round bresaola short ribs salami shankle. Beef ribs jowl capicola bacon.</p>
	<ol class="experienceList">
		<li>
			<div class="iconArea">{{> icons/linkedin}}</div><!--
		--><div class="descriptionArea">
				<div class="titleBar">
					<h5 class="title">LinkedIn - Software Engineer Intern</h5>
					<h6 class="dateRange">June - Sept '14</h6>
				</div>
				<p class="description">Will join the Core Team of LinkedIn this summer. (Java, JS)</p>
			</div>
		</li>
		<li>
			<div class="iconArea">{{> icons/fb}}</div><!--
		--><div class="descriptionArea">
				<div class="titleBar">
					<h5 class="title">Facebook Open Academy - Socket.IO</h5>
					<h6 class="dateRange">Jan - June '14</h6>
				</div>
				<p class="description">Hand-picked to contribute to Facebook’s open-sourced projects as a part of Facebook’s Open Academy Program (25% acceptance rate at UW). Will be contributing to <a href="https://github.com/learnboost/socket.io">Socket.IO</a> alongside other top CS students around the world under mentorship from creator of Socket.IO, <a href="https://github.com/guille">Guillermo Rauch</a>. (JS)</p>
			</div>
		</li>
		<li>
			<div class="iconArea">{{> icons/tableau}}</div><!--
		--><div class="descriptionArea">
				<div class="titleBar">
					<h5 class="title">Tableau Software - Software Engineer Intern</h5>
					<h6 class="dateRange">June - Sept '13</h6>
				</div>
				<p class="description">Designed and implemented two flagship features for Tableau’s big data visualization software:</p>
				<ul class="descriptionBullets">
					<li>Fully built <a href="http://www.tableausoftware.com/new-features/dashboard-transparency">transparent objects</a> (e.g. legends, images, text regions) for Tableau’s web visualization engine. Feature shipped and was demoed live in front of 3,000 customers at Tableau’s Customer Conference 2013. Also codeveloped support for high dpi vizes. (Script#)</li>
					<li>Developed Tableau’s #1 customer request JavaScript API feature: the ability to get a viz’s data programmatically (via getUnderlyingDataAsync and getSummaryDataAsync API commands) with the ability to support data cubes. (Script#, Java, C++)</li>
				</ul>
			</div>
		</li>
		<li>
			<div class="iconArea">{{> icons/nor1}}</div><!--
		--><div class="descriptionArea">
				<div class="titleBar">
					<h5 class="title">Nor1 - Software Engineer Intern</h5>
					<h6 class="dateRange">June - Sept '12</h6>
				</div>
				<p class="description">Built comprehensive web applications doing both front-end and back-end development:</p>
				<ul class="descriptionBullets">
					<li>Created a spreadsheet-like web application that allows hotel property managers to input current hotel inventory into Nor1’s analytical engine. (CakePHP, JS)</li>
					<li>Built a live data feed web application that processed data from database records and presented the interpreted data in a user-friendly, easy-to-read live feed of real-time data. (CakePHP, JS)</li>
				</ul>
			</div>
		</li>
		<li>
			<div class="iconArea">{{> icons/kongregate}}</div><!--
		--><div class="descriptionArea">
				<div class="titleBar">
					<h5 class="title">Kongregate - Game Dev</h5>
					<h6 class="dateRange">Nov '08 - Nov '11</h6>
				</div>
				<p class="description">Developed indie Flash games such as <a href="http://www.kongregate.com/games/creeplover/cellular-warfare">Cellular Warfare</a> and <a href="http://www.kongregate.com/games/granttimmerman/the-four-elements">The Four Elements</a>. (ActionScript, Kongregate API)</p>
			</div>
		</li>
	</ol>
</div><!-- TODO: Remove this when html is compressed
--><div class="videoArea">
	<video class="profileVideo" src="/video/me.mp4" autoplay loop/>
</div>