ol.cardLayout
  include /includes/cards/data/thefourelements
  include /includes/cards/data/cellularwarfare
  include /includes/cards/data/vidwall
  //- include /includes/cards/data/glass
  //- include /includes/cards/data/areyouhungrynow