footer
  nav
    ul.links
      li
        a(href='http://www.github.com/grant') Github
      li
        a(href='http://www.linkedin.com/in/granttimmerman') LinkedIn
      li
        a(href='http://www.twitter.com/granttimmerman') Twitter
      li
        a(href='https://medium.com/@granttimmerman') Medium
      li
        a(href='/resume') Resume
      li
        a(href='http://www.facebook.com/granttimmerman') Facebook
      li
        a(href='http://www.google.com/+GrantTimmerman') Google+
      li
        a(href='mailto:granttimmerman@gmail.com?subject=Hello%20Grant!&body=Hey%20Grant,%20') Say hi
    .message Made with ❤ in California