header
  .centerBox
    h1.name Grant Timmerman
    h3.bio
      | Google Developer Platform Engineer
    ul
      a(href='#about')
        li About
      a(href='#experience')
        li Experience
      //- a(href='#talks')
      //-   li Talks
  .arrow
    i.fa.fa-angle-down
