<div class="cardArea">
	<div class="profile card" data-id="profile">
		<div class="cardContent">
			<div class="open">
				<div class="profileText">
					<h3 class="name">Grant Timmerman</h3>
					<h6 class="twitterHandle"><a href="https://twitter.com/granttimmerman">@granttimmerman</a></h6>
					<p class="longBio">Prosciutto landjaeger pancetta andouille pastrami shankle. Chicken tongue doner biltong corned beef. Biltong doner tail, fatback capicola beef brisket flank frankfurter ground round bresaola short ribs salami shankle. Beef ribs jowl capicola bacon.</p>
					<ol class="experienceList">
						<li>
							<div class="iconArea">{{> icons/linkedin}}</div><!--
						--><div class="descriptionArea">
								<div class="titleBar">
									<h5 class="title">LinkedIn - Software Engineer Intern</h5>
									<h6 class="dateRange">June - Sept '14</h6>
								</div>
								<p class="description">Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description.</p>
							</div>
						</li>
						<li>
							<div class="iconArea">{{> icons/fb}}</div><!--
						--><div class="descriptionArea">
								<div class="titleBar">
									<h5 class="title">Facebook Open Academy - Socket.IO</h5>
									<h6 class="dateRange">Jan - June '14</h6>
								</div>
								<p class="description">Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description.</p>
							</div>
						</li>
						<li>
							<div class="iconArea">{{> icons/tableau}}</div><!--
						--><div class="descriptionArea">
								<div class="titleBar">
									<h5 class="title">Tableau Software - Software Engineer Intern</h5>
									<h6 class="dateRange">June - Sept '13</h6>
								</div>
								<p class="description">Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description.</p>
							</div>
						</li>
						<li>
							<div class="iconArea">{{> icons/nor1}}</div><!--
						--><div class="descriptionArea">
								<div class="titleBar">
									<h5 class="title">Nor1 - Software Engineer Intern</h5>
									<h6 class="dateRange">June - Sept '12</h6>
								</div>
								<p class="description">Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description.</p>
							</div>
						</li>
						<li>
							<div class="iconArea">{{> icons/kongregate}}</div><!--
						--><div class="descriptionArea">
								<div class="titleBar">
									<h5 class="title">Kongregate - Game Dev</h5>
									<h6 class="dateRange">Nov '08 - Nov '11</h6>
								</div>
								<p class="description">Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description. Here's a description.</p>
							</div>
						</li>
					</ol>
				</div><!-- TODO: Remove this when html is compressed
			--><div class="videoArea">
					<video class="profileVideo" src="/video/me.mp4" autoplay loop/>
				</div>
			</div>
			<div class="closed">
				<img class="profilePhoto" src="/images/cards/profile/profile.jpg" alt="Grant Timmerman">
				<div class="profileText">
					<h3 class="name">Grant Timmerman</h3>
					<h5 class="bio">UW CSE student, web fanatic</h5>
				</div>
				<hr>
				<ol class="experienceList">
					<li>{{> icons/linkedin}}</li>
					<li>{{> icons/fb}}</li>
					<li>{{> icons/tableau}}</li>
					<li>{{> icons/nor1}}</li>
					<li>{{> icons/kongregate}}</li>
				</ol>
			</div>
		</div>
	</div><!-- TODO: Remove this when html is compressed
--><div class="card 2">
		<div class="cardContent">
			<div class="cardImageArea">
				<img src="" alt="">
			</div>
			<div class="cardTextArea">
				<h4>Insteresting Title</h4>
				<h5>Interesting Subtitle</h5>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, blanditiis in similique harum debitis a voluptates alias et molestiae fugiat.</p>
			</div>
		</div>
	</div><!-- TODO: Remove this when html is compressed
--><div class="card 3">
		<div class="cardContent">
			<div class="cardImageArea">
				<img src="" alt="">
			</div>
			<div class="cardTextArea">
				<h4>Insteresting Title</h4>
				<h5>Interesting Subtitle</h5>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, blanditiis in similique harum debitis a voluptates alias et molestiae fugiat.</p>
			</div>
		</div>
	</div>
</div>