<div class="cardArea">
	{{> cards/data/profile/card}}<!-- TODO: Remove this when html is compressed
-->{{> cards/data/thefourelements/card}}<!-- TODO: Remove this when html is compressed
-->{{> cards/data/cellularwarfare/card}}<!-- TODO: Remove this when html is compressed
-->{{> cards/data/vidwall/card}}<!-- TODO: Remove this when html is compressed
--><div class="card 3">
		<div class="cardContent">
			<div class="cardImageArea">
				<img src="" alt="">
			</div>
			<div class="cardTextArea">
				<h4>Insteresting Title</h4>
				<h5>Interesting Subtitle</h5>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, blanditiis in similique harum debitis a voluptates alias et molestiae fugiat.</p>
			</div>
		</div>
	</div>
</div>