<div class="cardArea">
	<div class="profile card" data-id="profile">
		<div class="cardContent">
			<img class="profilePhoto" src="/images/cards/profile/profile.jpg" alt="Grant Timmerman">
			<div class="profileText">
				<h3 class="name">Grant Timmerman</h3>
				<h5 class="bio">UW CSE student, web fanatic</h5>
			</div>
			<hr>
			<ol class="experienceList">
				<li>{{> icons/linkedin}}</li>
				<li>{{> icons/fb}}</li>
				<li>{{> icons/tableau}}</li>
				<li>{{> icons/nor1}}</li>
				<li>{{> icons/kongregate}}</li>
			</ol>
		</div>
	</div><!-- TODO: Remove this when html is compressed
--><div class="card 2">
		<div class="cardContent">
			<div class="cardImageArea">
				<img src="" alt="">
			</div>
			<div class="cardTextArea">
				<!-- <video src="/video/me.mp4" style="height:100%" controls autoplay loop/> -->
				<h4>Insteresting Title</h4>
				<h5>Interesting Subtitle</h5>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, blanditiis in similique harum debitis a voluptates alias et molestiae fugiat.</p>
			</div>
		</div>
	</div><!-- TODO: Remove this when html is compressed
--><div class="card 3">
		<div class="cardContent">
			<div class="cardImageArea">
				<img src="" alt="">
			</div>
			<div class="cardTextArea">
				<h4>Insteresting Title</h4>
				<h5>Interesting Subtitle</h5>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, blanditiis in similique harum debitis a voluptates alias et molestiae fugiat.</p>
			</div>
		</div>
	</div>
</div>