<footer>
	<nav class="left">
		<ul>
			<li><a href="http://www.github.com/grant">Github</a></li>
			<li><a href="http://www.linkedin.com/in/granttimmerman">LinkedIn</a></li>
			<li><a href="http://www.twitter.com/granttimmerman">Twitter</a></li>
			<li><a href="http://www.facebook.com/granttimmerman">Facebook</a></li>
			<li><a href="http://www.google.com/+GrantTimmerman">Google+</a></li>
			<li><a href="mailto:granttimmerman@gmail.com">Say hi</a></li>
		</ul>
	</nav>
	<div class="right"> Made with ♡ in California </div>
</footer>