<header>
	<div class="left leftHeader">
		{{> logo}}
	</div>
	<div class="right rightHeader">
		<nav>
			<div class="buttonArea"><button class="notes">Notes</button></div>
			<div class="buttonArea"><button class="lab">Lab</button></div>
			<div class="buttonArea"><button class="games">Games</button></div>
			<div class="buttonArea"><button class="me">Me</button></div>
			<div class="buttonArea"><button class="search">Search</button></div>
		</nav>
	</div>
</header>