<header>
	<div class="leftArea">
		<img src="/images/profile.jpg" alt="" class="profile">
	</div>
	<div class="rightArea">
		<h1 class="title">Hey there, I'm <strong>Grant</strong>!</h1>
		<h3 class="subtitle">Web Evangelist <span class="bullet">•</span> Computer Science Student</h3>
		<p class="bio">I'm an undergraduate Junior at the University of Washington in the Computer Science program who loves building interactive web experiences. I've interned at places such as <a href="http://www.linkedin.com/">LinkedIn</a> and <a href="http://www.tableausoftware.com/">Tableau</a>.</p>
		<!-- <p class="bio"></p> -->
		<p class="contact"><a href="mailto:granttimmerman@gmail.com">Say hi</a> or <a href="#profile">read more about me</a></p>
	</div>
</header>