# This file indicates which files should be ignored when using gcloud
# It's quite important to not use the .gitignore, which is the default if this file isn't specified.
# Generic
.DS_STORE

# Node
node_modules
