{{> cards/components/closeButton}}
<div class="leftArea">
  <h3 class="name">The Four Elements</h3>
  <p class="description">Master the four elements by solving each of the unique marble puzzles.</p>
  <p class="instructions"><span class="title">Instructions:</span> Hop one marble over another. Try to leave the least number of marbles as possible. Music controls are located on the bottom left.</p>
  <a href="https://github.com/granttimmerman/Flash-Games/tree/master/Games/The%20Four%20Elements/Final/Game" class="githubLink">See the source on Github</a>
</div>
<div class="rightArea">
  <object class="swf" type="application/x-shockwave-flash" data-aspectratio="4:3" data="/flash/thefourelements/elements.swf">
    <param name="movie" value="/flash/thefourelements/elements.swf">
    {{> cards/components/errors/noflash}}
  </object>
</div>