header
  h1.name Grant Timmerman
  h3.bio
    | Web Evangelist
    span.bullet !{" • "}
    | UW Computer Science
  ul
    li About
    li Github
    li Twitter
    li LinkedIn
    li Projects
  .arrow V