//
// Global styles
//

//
// Colors
//

// Main Colors
//
// $RED: rgb(234, 95, 78)
// $DARK_RED: rgb(210, 57, 52)
// $AQUA: rgb(100, 200, 200)
// $DARK_BLUE: rgb(45, 62, 82)
// $BLUE_BLACK: rgb(45, 62, 82)

$WHITE: rgb(255, 255, 255)
$DARK_WHITE: rgb(235, 235, 235)
$LIGHT_GRAY: rgb(190, 190, 190)
$GRAY: rgb(119, 119, 119)
$DARK_GRAY: rgb(65, 64, 61)
$LIGHT_BLACK: rgb(34, 34, 34)
$BLACK: rgb(24, 24, 24)

$BROWN: rgb(119, 107, 93)

$RED: rgb(234, 95, 78)
$DARK_RED: rgb(210, 57, 52)
$ORANGE: rgb(232, 132, 59)
$YELLOW: rgb(255, 236, 132)
$GREEN: rgb(138, 192, 158)
$DARK_GREEN: rgb(116, 141, 120)
$BLUE: rgb(145, 207, 215)
$DARK_BLUE: rgb(73, 161, 167)
$BLUE_BLACK: rgb(45, 62, 82)
$PURPLE: rgb(183, 143, 216)

// Font
=font-light
  font-weight: 100
  color: #ccc

=font-dark
  font-weight: 100
  color: #666

// Font size
$FONT_HUGE: 100px
$FONT_XLARGE: 60px
$FONT_LARGE: 40px
$FONT_MEDIUM: 26px
$FONT_SMALL: 16px
$FONT_TINY: 12px

// Font family
@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 700
  src: local('Montserrat-Bold'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format('woff')
@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 400
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff')

=text-font
  font-family: 'Open Sans', 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif

=title
  color: $LIGHT_BLACK
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif
  font-weight: 700
  font-size: $FONT_LARGE
  letter-spacing: 9px
  text-transform: uppercase
  text-align: center

// Other
$cardMargin: 1%
$sectionMargin: 2%
$sideMargin: 1%

// Transition
$transitionSpeedFast: 100ms
$transitionSpeed: 200ms
$transitionSpeedSlow: 1000ms

// Animations
=fadein($delay: 0ms)
  animation-name: fadein
  animation-duration: $transitionSpeedSlow
  animation-timing-function: ease-in-out
  animation-delay: $delay

@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1

@keyframes bounce
  0%, 20%, 50%, 80%, 100%
    bottom: 10px
  40%
    bottom: 30px
  60%
    bottom: 15px

// Default anchor tag
// a
//   font-style: italic
//   font-weight: 400
//   padding-bottom: 1px
//   transition: color $transitionSpeed
//   &:hover
//     color: $WHITE

// Default hr
// hr
//   width: 25%
//   background-color: rgba(0, 0, 0, 0.33)

.right
  float: right

.left
  float: left