<div class="cellularwarfare card" data-id="cellularwarfare">
	<div class="cardContent">
		<div class="open"></div>
		<div class="closed">
			{{> cards/data/cellularwarfare/closed}}
		</div>
	</div>
</div>