{{> cards/components/closeButton}}
<div class="leftArea">
	<h3 class="name">Cellular Warfare</h3>
	<p class="description">Conquer the cell kingdom and evolve into an almighty cell! Along the way you will be able to upgrade your cell's speed, size, and growth rate. Try to get the fastest time! Song: Colour My World - COIN (liluxiaorealnew)</p>
	<ul class="instructions">
		<li>Move: W,S,A,D</li>
		<li>M: Menu</li>
		<li>P: Pause</li>
		<li>R: Restart</li>
	</ul>
	<h4 class="devnotesTitle">Programming highlights:</h4>
	<ul class="devnotes">
		<li>Array of Cell objects</li>
		<li>Ellipse vs. ellipse collision detection</li>
		<li>Oscillating cell size</li>
		<li>Ugrading cell properties</li>
		<li>Acceleration and max speed of cell</li>
		<li>Use of AS Timer class</li>
		<li>Key shortcuts</li>
	</ul>
	<a href="https://github.com/granttimmerman/Flash-Games/tree/master/Games/Cellular%20Warfare" class="githubLink">See the source on Github</a>
</div>
<div class="rightArea">
	<object class="swf" type="application/x-shockwave-flash" data-aspectratio="550:400">
		<param name="movie" value="/flash/cellularwarfare/cellular_warfare.swf">
		{{> errors/noflash}}
     </object>
</div>