extends layout

block css
  link(rel="stylesheet" href='css/pages/index.css')

block js
  script(src="js/jquery.min.js")
  include includes/ga

block content
  .pageContent
    include includes/pages/about/header
    include includes/sections/profile
    include includes/footer