extends layout

//- A page with my Google Calendar.
//- http://localhost:8080/cal
block css
  link(rel="stylesheet" href='/css/cal.css')
block js
  script.
    document.getElementsByClassName('cal')[0].innerHTML =
    `<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=WEEK&amp;wkst=1&amp;bgcolor=%23ea5f4e&amp;src=granttimmerman%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles&output=embed" frameborder="0" scrolling="no" />`;
  include includes/ga
block content
  .pageContent
    .calArea
      h1.title Grant Timmerman's Calendar
      .cal