extends layout

block css
  link(rel="stylesheet" href='/css/pages/cal.css')

block js
  script(src="js/cal.js")
  include includes/ga

block content
  .pageContent
    .calArea
      h1.title Grant Timmerman's Calendar
      .cal