| home
//- .pageContent
//-   {{ header }}
//-   {{ sections/project }}
//-   {{ sections/github }}
//-   {{ sections/profile }}
//-   {{ sections/contact }}
//-   {{ footer }}
//- script(src="js/jquery.min.js")
//- script(src="js/jquery.timeago.js")
//- script(src="js/home.js")
//- {{ ga}}