<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grant Timmerman</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<div class="pageContent">
		{{> header }}
		{{> projectArea }}
		{{> profileArea }}
		{{> footer }}
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.timeago.js"></script>
	<script src="js/home.js"></script>
</body>
</html>