<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grant Timmerman</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<div class="pageContent">
		<header>
			<div class="left leftHeader">
				<span class="logo"></span>
			</div>
			<div class="right rightHeader">
				<nav>
					<div class="buttonArea"><button class="notes">Notes</button></div>
					<div class="buttonArea"><button class="lab">Lab</button></div>
					<div class="buttonArea"><button class="games">Games</button></div>
					<div class="buttonArea"><button class="me">Me</button></div>
					<div class="buttonArea"><button class="search">Search</button></div>
				</nav>
			</div>
		</header>
		<div class="tileArea">
			<div class="tile">
				<div class="tileImageArea">
					<img src="" alt="">
				</div>
				<div class="tileTextArea">
					<h4>Insteresting Title</h4>
					<h5>Interesting Subtitle</h5>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, blanditiis in similique harum debitis a voluptates alias et molestiae fugiat.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>