doctype html
html(lang="en")
  head
    title Grant Timmerman

    meta(charset="UTF-8")
    meta(name="keywords" content="Grant Timmerman, University of Washington, UW, Seattle")
    meta(name="description" content="Grant Timmerman web evangelist, hacker, and maker who is studing Computer Science at the University of Washington")

    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    block css
  body
    block content