doctype html
html(lang="en")
  head
    title Grant Timmerman

    meta(charset="UTF-8")
    meta(name="description" content="Grant Timmerman web evangelist, hacker, and maker at Sift Science")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")

    //- - Header Color
    //- Chrome, Firefox OS, Opera and Vivaldi
    meta(name="theme-color" content="#ea5f4e")
    //- Windows Phone
    meta(name="msapplication-navbutton-color" content="#ea5f4e")
    //- iOS Safari
    meta(name="apple-mobile-web-app-status-bar-style" content="#ea5f4e")

    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    block css
  body
    block content
    block js
