extends layout

block css
  link(rel="stylesheet" href='/css/resume.css')
block js
  include includes/ga
block content
  .pageContent
    iframe(src='https://storage.googleapis.com/granttimmerman-resume/Grant_Timmerman_Resume.pdf')
