/* Global CSS */
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

p {
  font-size: 16px; }

.right {
  float: right; }

.left {
  float: left; }

/* Font */
/* Page */
.pageContent {
  height: 100%;
  font-family: 'Open Sans', Arial;
  background-color: #333333; }

/* Page header */
.pageContent > header {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 40px;
  /* Nav Buttons */ }
  .pageContent > header .logo {
    border-bottom-right-radius: 2px;
    width: 40px;
    height: 40px; }
  .pageContent > header .leftHeader, .pageContent > header .rightHeader {
    height: 100%; }
  .pageContent > header nav {
    height: 100%; }
  .pageContent > header .searchButton {
    height: 40px;
    border: 0;
    margin: 0;
    cursor: pointer;
    border-bottom-left-radius: 2px;
    font-size: 20px; }

/* Card area */
.cardArea {
  height: calc(100% - 50px);
  padding: 40px 40px 0 40px; }

.card {
  display: inline-block;
  overflow: hidden;
  width: 33.3%;
  height: 40%;
  min-height: 300px;
  margin: 5px;
  color: #eee;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #f16264;
  border-radius: 3px; }

.cardImageArea {
  width: 100%;
  min-height: 100px;
  background-color: #444; }

.cardTextArea {
  padding: 3%;
  height: 100%; }

/* Specific cards */
.card.profile {
  background-color: #3a3a3a;
  background: -webkit-linear-gradient(top, #505050 0%, #3a3a3a 100%); }
  .card.profile .bio {
    font-weight: 100; }
  .card.profile .name, .card.profile .bio {
    text-align: center;
    text-shadow: 3px 3px rgba(20, 10, 0, 0.1); }
  .card.profile .profilePhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    width: 25%;
    border-radius: 50%;
    box-shadow: 10px 10px rgba(20, 10, 0, 0.1); }
  .card.profile hr {
    margin-top: 2%;
    height: 1%;
    width: 20%;
    border: none;
    background-color: #999;
    box-shadow: 3px 3px rgba(20, 10, 0, 0.1); }
  .card.profile .experienceList {
    height: 25%;
    padding: 2% 0;
    text-align: center; }
    .card.profile .experienceList li {
      width: 10%;
      height: 100%;
      display: inline-block;
      margin: 0 3%; }
    .card.profile .experienceList .nor1 {
      background-color: #494e54;
      padding: .1%; }
    .card.profile .experienceList .squareTile {
      position: relative;
      width: 100%;
      box-shadow: 10px 10px rgba(20, 10, 0, 0.1);
      border-radius: 10%;
      overflow: hidden; }
      .card.profile .experienceList .squareTile:before {
        content: "";
        display: block;
        padding-top: 100%; }
      .card.profile .experienceList .squareTile .content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; }
      .card.profile .experienceList .squareTile .svg {
        width: 100%;
        height: 100%; }
