/* Global CSS */
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

p {
  font-size: 16px; }

.right {
  float: right; }

.left {
  float: left; }

/* Page */
.pageContent {
  height: 100%;
  font-family: 'Open Sans' Arial;
  background-color: #333333; }

/* Page header */
.pageContent > header {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 40px;
  /* Nav Buttons */ }
  .pageContent > header .logo {
    border-bottom-right-radius: 2px;
    width: 40px;
    height: 40px; }
  .pageContent > header .leftHeader, .pageContent > header .rightHeader {
    height: 100%; }
  .pageContent > header nav {
    height: 100%; }
  .pageContent > header .searchButton {
    height: 40px;
    border: 0;
    margin: 0;
    cursor: pointer;
    border-bottom-left-radius: 2px;
    font-size: 20px; }

/* Card area */
.cardArea {
  height: calc(100% - 50px);
  padding: 40px 40px 0 40px; }

.card {
  display: inline-block;
  overflow: hidden;
  width: 33.3%;
  margin: 5px;
  color: #eee;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #f16264;
  border-radius: 3px; }

.cardImageArea {
  width: 100%;
  min-height: 100px;
  background-color: #444; }

.cardTextArea {
  padding: 20px; }
  .cardTextArea h4, .cardTextArea h5 {
    text-align: center; }
  .cardTextArea hr {
    height: 1px;
    width: 80px;
    border: none;
    background-color: rgba(44, 44, 44, 0.2); }
