/* Global CSS */
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

p {
  font-size: 16px; }

.right {
  float: right; }

.left {
  float: left; }

/* Font */
/* Scroll bars */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 100%;
  display: block;
  background-color: transparent; }

::-webkit-scrollbar-track-piece {
  background-color: #3b3b3b;
  -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #666;
  -webkit-border-radius: 6px; }

/* Page */
.pageContent {
  height: 100%;
  font-family: 'Open Sans', Arial;
  background-color: #222222; }

/* Page header */
.pageContent > header {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 40px;
  /* Nav Buttons */ }
  .pageContent > header .logo {
    border-bottom-right-radius: 2px;
    width: 40px;
    height: 40px; }
  .pageContent > header .leftHeader, .pageContent > header .rightHeader {
    height: 100%; }
  .pageContent > header nav {
    height: 100%; }
  .pageContent > header .searchButton {
    height: 40px;
    border: 0;
    margin: 0;
    cursor: pointer;
    border-bottom-left-radius: 2px;
    font-size: 20px; }

/* Card area */
.cardArea {
  height: calc(100% - 50px);
  padding: 40px 40px 0 40px; }

.card {
  display: inline-block;
  width: 33.3%;
  height: 40%;
  min-height: 300px;
  padding: 0.5%; }
  .card:not(.open) .cardContent {
    cursor: pointer;
    overflow: hidden; }
  .card .cardContent {
    position: relative;
    height: 100%;
    overflow: hidden;
    color: #eee;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px; }
    .card .cardContent .open .closeButton {
      position: absolute;
      width: 4%;
      overflow: hidden; }
      .card .cardContent .open .closeButton:before {
        content: "";
        display: block;
        padding-top: 100%; }
      .card .cardContent .open .closeButton .content {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 10% 15%;
        background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3) 50%, transparent 50%);
        user-select: none;
        font-weight: 100;
        color: #666;
        cursor: pointer; }
    .card .cardContent .open, .card .cardContent .closed {
      position: absolute;
      width: 100%;
      height: 100%; }

.cardImageArea {
  width: 100%;
  min-height: 100px;
  background-color: #444; }

/* Specific cards */
.card.profile .cardContent .open .profileText {
  width: 66.6%;
  height: 100%;
  padding: 1.5% 2%;
  overflow-y: scroll; }
  .card.profile .cardContent .open .profileText .name {
    text-shadow: 3px 3px rgba(20, 10, 0, 0.1); }
  .card.profile .cardContent .open .profileText .twitterHandle {
    padding-top: 1%;
    font-weight: 100;
    color: #ccc; }
  .card.profile .cardContent .open .profileText .longBio {
    padding: 1% 0;
    line-height: 150%; }
    .card.profile .cardContent .open .profileText .longBio:first-letter {
      float: left;
      font-size: 400%;
      line-height: 100%;
      padding-right: .5%; }
  .card.profile .cardContent .open .profileText .experienceList {
    padding-top: 1%; }
    .card.profile .cardContent .open .profileText .experienceList > li {
      overflow: hidden;
      padding-bottom: 1%; }
    .card.profile .cardContent .open .profileText .experienceList .iconArea {
      width: 10%; }
    .card.profile .cardContent .open .profileText .experienceList .descriptionArea {
      width: 90%;
      padding-left: 2%; }
      .card.profile .cardContent .open .profileText .experienceList .descriptionArea .titleBar {
        padding-bottom: 0.5%;
        overflow: hidden; }
        .card.profile .cardContent .open .profileText .experienceList .descriptionArea .titleBar .title {
          float: left; }
        .card.profile .cardContent .open .profileText .experienceList .descriptionArea .titleBar .dateRange {
          float: right; }
      .card.profile .cardContent .open .profileText .experienceList .descriptionArea .description, .card.profile .cardContent .open .profileText .experienceList .descriptionArea .descriptionBullets {
        font-weight: 100;
        color: #ccc;
        line-height: 150%;
        list-style: disc;
        list-style-position: inside; }
    .card.profile .cardContent .open .profileText .experienceList .iconArea, .card.profile .cardContent .open .profileText .experienceList .descriptionArea {
      float: left; }
.card.profile .cardContent .open .videoArea {
  width: 33.3%;
  height: 100%;
  overflow: hidden; }
.card.profile .cardContent .open .profileText, .card.profile .cardContent .open .videoArea {
  float: left; }
.card.profile .cardContent .closed {
  padding: 2%; }
  .card.profile .cardContent .closed .profileText {
    width: 80%;
    margin: 0 10%; }
    .card.profile .cardContent .closed .profileText .bio {
      font-weight: 100;
      color: #ccc; }
    .card.profile .cardContent .closed .profileText .name, .card.profile .cardContent .closed .profileText .bio {
      text-align: center;
      text-shadow: 3px 3px rgba(20, 10, 0, 0.1); }
  .card.profile .cardContent .closed .profilePhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    height: 50%;
    border-radius: 50%;
    box-shadow: 10px 10px rgba(20, 10, 0, 0.1); }
  .card.profile .cardContent .closed hr {
    margin-top: 2%;
    height: 1%;
    width: 20%;
    border: none;
    background-color: #999;
    box-shadow: 3px 3px rgba(20, 10, 0, 0.1); }
  .card.profile .cardContent .closed .experienceList {
    height: 25%;
    padding: 1% 0;
    text-align: center; }
    .card.profile .cardContent .closed .experienceList li {
      width: 13%;
      height: 100%;
      display: inline-block;
      margin: 0 3%; }
.card.profile .cardContent .open, .card.profile .cardContent .closed {
  background-color: #3a3a3a;
  background: -webkit-linear-gradient(top, #505050 0%, #3a3a3a 100%); }
.card.thefourelements .cardContent .open .leftArea {
  width: 33.3%;
  padding: 1.5% 2%;
  background-color: #f16264; }
  .card.thefourelements .cardContent .open .leftArea .name {
    text-shadow: 3px 3px rgba(20, 10, 0, 0.1); }
  .card.thefourelements .cardContent .open .leftArea .description, .card.thefourelements .cardContent .open .leftArea .instructions {
    font-weight: 100;
    color: #ccc;
    padding-top: 1%; }
  .card.thefourelements .cardContent .open .leftArea .plays {
    font-weight: 100;
    color: #ccc;
    padding-top: 1%; }
.card.thefourelements .cardContent .open .rightArea {
  position: relative;
  width: 66.6%;
  background-color: black; }
.card.thefourelements .cardContent .open .leftArea, .card.thefourelements .cardContent .open .rightArea {
  float: left;
  height: 100%; }
.card.thefourelements .cardContent .closed {
  background: url("/images/cards/thefourelements/cover.svg") no-repeat center center;
  background-size: cover; }

.squareTile {
  position: relative;
  width: 100%;
  box-shadow: 10px 10px rgba(20, 10, 0, 0.1);
  border-radius: 10%;
  overflow: hidden; }
  .squareTile:before {
    content: "";
    display: block;
    padding-top: 100%; }
  .squareTile .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10%;
    overflow: hidden; }
  .squareTile .svg {
    width: 100%;
    height: 100%; }
  .squareTile.nor1 {
    background-color: #494e54;
    padding: .1%; }
    .squareTile.nor1 img {
      width: 90% !important;
      margin-top: 25%;
      margin-left: 5%; }
