/* Global CSS */
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

p {
	font-size: 16px;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* Page */
$pageBackgroundColor: #333;
$headerHeight: 40px;
$navButtonBottomBorderHeight: 3px;
$cardAreaPadding: 5px;
// $cardAreaColor: rgb(240, 245, 250);
// $headerColor: rgb(66, 72, 77);

.pageContent {
	height: 100%;
	background-color: $pageBackgroundColor;
}

/* Page header */
.pageContent > header {
	position: absolute;
	top: 0;
	left: 0;

	// background-color: $headerColor;
	overflow: hidden;
	width: 100%;
	height: $headerHeight;
}

.leftHeader, .rightHeader {
	height: 100%;
}

nav {
	height: 100%;
}

/* Nav Buttons */
.buttonArea {
	background-color: rgba(255, 255, 255, 0.9);
	height: 100%;
	float: left;
}

.searchButton {
	height: $headerHeight;
	border: 0;
	margin: 0;

	cursor: pointer;

	font-size: 20px;
}

/* Card area */
.cardArea {
	height: calc(100% - 50px);
	padding: $cardAreaPadding * 2 + $headerHeight $cardAreaPadding 0 $cardAreaPadding;
}

.card {
	display: inline-block;
	overflow: hidden;

	width: 33.3%;
	margin: 5px;

	background-color: rgb(241, 98, 100);
	border-radius: 3px;
}

.cardImageArea {
	width: 100%;
	min-height: 100px;
	background-color: #444;
}

.cardTextArea {
	padding: 10px;

	h4, h5 {
		text-align: center;
	}

	hr {
		height: 1px;
		width: 80px;
		border: none;
		background-color: rgba(44,44,44,0.2);
	}
}