/*
Syntax error: Undefined variable: "$WHITE".
        on line 2 of ../client/sass/pages/about.sass

1: // Profile Section
2: $textColor: $WHITE
3: section.profile
4:   color: $textColor
5:   a:hover
6:     color: $DARK_RED
7:   background-color: $RED

Backtrace:
../client/sass/pages/about.sass:2
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/script/tree/variable.rb:49:in `_perform'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/script/tree/node.rb:50:in `perform'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:438:in `visit_variable'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:121:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/engine.rb:274:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:360:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:190:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:187:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:187:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:275:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/listen-2.4.1/lib/listen/listener.rb:151:in `call'
/Library/Ruby/Gems/2.0.0/gems/listen-2.4.1/lib/listen/listener.rb:151:in `block in _wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/listen-2.4.1/lib/listen/listener.rb:146:in `loop'
/Library/Ruby/Gems/2.0.0/gems/listen-2.4.1/lib/listen/listener.rb:146:in `_wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/listen-2.4.1/lib/listen/listener.rb:44:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$WHITE\".\A         on line 2 of ../client/sass/pages/about.sass\A \A 1: // Profile Section\A 2: $textColor: $WHITE\A 3: section.profile\A 4:   color: $textColor\A 5:   a:hover\A 6:     color: $DARK_RED\A 7:   background-color: $RED"; }
