<div class="areyouhungrynow card" data-id="areyouhungrynow">
  {{> cards/components/navigationButtons}}
  <div class="cardContent">
    <div class="open"></div>
    <div class="closed">
      {{> cards/data/areyouhungrynow/closed}}
    </div>
  </div>
</div>