//
// About Section
//

@import mixins/squareTile

// Colors
$color: $DARK_BLUE
$darkColor: $BLUE

$experienceListWidth: 1000px
section#experience
  background-color: $color
  color: $WHITE

  // Fade in
  @media #{$notPhone}
    &.show
      > .title
        +fadein
      .experienceList
        @for $i from 0 to 10
          > li:nth-child(#{$i})
            +fadein($i * 250ms + 200ms)

  > .title
    +title
    color: $WHITE
    @media #{$phone}
      font-size: $FONT_MEDIUM
    @media #{$notPhone}
      opacity: 0
  .experienceList
    @media #{$notPhone}
      width: $experienceListWidth
    $listPadding: 20px
    margin: 0 auto 2*$listPadding auto
    & > li
      overflow: hidden
      border-radius: 10px
      padding: $listPadding
      @media #{$notPhone}
        opacity: 0
        margin: 30px 0
        transition: transform $transitionSpeed, background-color $transitionSpeed
        .descriptionArea a
          transition: color $transitionSpeed
        &:hover
          background-color: mix($color, $darkColor)
          .descriptionArea a
            color: darken($color, 10%)
        &:nth-child(odd)
          &:hover
            transform: translateX(5px)
          .iconArea
            float: left
          .descriptionArea
            padding-left: 30px
        &:nth-child(even)
          &:hover
            transform: translateX(-5px)
          .iconArea
            float: right
          .descriptionArea
            padding-right: 30px
      @media #{$phone}
        margin: 0 auto
        width: 100%

      $iconAreaSize: 200px
      $iconSize: 0.8
      .iconArea
        @media #{$notPhone}
          width: $iconAreaSize
          padding: (1 - $iconSize)/2 * $iconAreaSize
        @media #{$phone}
          width: 100%
          max-width: 200px
          margin: 0 auto
      .descriptionArea
        @media #{$notPhone}
          width: $experienceListWidth - $iconAreaSize - 2*$listPadding
        @media #{$phone}
          width: 100%
          padding-top: 10px
        line-height: 2
        a
          color: $darkColor
        .titleBar
          position: relative
          padding-bottom: 0.5%
          overflow: hidden
          .title
            font-weight: 700
            float: left
            font-size: $FONT_MEDIUM
          .dateRange
            padding-top: 11px
            @media #{$phone}
              padding-top: 0
              float: left
            @media (min-width: 600px)
              float: right
            float: right
            font-size: $FONT_SMALL
        .description, .descriptionBullets
          font-size: $FONT_SMALL
          list-style: disc
          list-style-position: inside
        .languages
          color: $LIGHT_GRAY
      .descriptionArea
        float: left