@import global

footer
  $linkSeparation: 30px
  $footerHeight: 100px
  $footerTextColor: $LIGHT_GRAY
  background-color: rgb(45, 62, 82)
  height: 100px
  font-size: $FONT_SMALL
  padding: ($footerHeight - 5px) / 2 $footerHeight / 2
  color: $footerTextColor
  .left
    li
      display: inline
      &:not(:first-child)
        padding-left: $linkSeparation
      transition: color $transitionSpeed
      &:hover
        color: $WHITE
    li + li:before
      color: $footerTextColor
      content: "|"
      padding-right: $linkSeparation