@import global

header
  background-color: $RED
  height: 100%
  overflow: hidden
  text-align: center

  $boxWidth: 700px
  $boxHeight: 300px
  .centerBox
    position: absolute
    left: 50%
    top: 50%
    width: $boxWidth
    height: $boxHeight
    margin-left: -$boxWidth/2
    margin-top: -$boxHeight/2
    .name
      +title-font

      color: $LIGHT_BLACK
      font-weight: 700
      font-size: $FONT_LARGE
      // font-size: 30px
      letter-spacing: 9px
      text-transform: uppercase
      margin: 12px 0
      left: 4px
      // padding-bottom: 10px
    .bio
      color: $DARK_RED
      font-size: $FONT_MEDIUM
    ul
    .arrow