//
// Project Section
//

section#projects
  background-color: rgb(241, 241, 241)
  background: linear-gradient(#f9f9f9, #f3f3f3)
  > .title
    +title
    padding: 40px 0
  .cardLayout
    margin: 50px 20px
    position: relative
    text-align: center
    @import cards/cards