//
// Project Section
//

section#projects
  background-color: $DARK_WHITE
  background: linear-gradient(#f9f9f9, #f3f3f3)
  > .title
    +title
  .cardLayout
    margin-bottom: 20px
    position: relative
    text-align: center
    @import cards/cards