<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>VidWall</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">

	<!-- Alertify -->
	<link rel="stylesheet" href="css/alertify.core.css">
	<link rel="stylesheet" href="css/alertify.default.css" id="toggleCSS">
</head>
<body>
	<div class="content">
		<input id="videoSearch" onClick="this.select();" type="text">
		<div class="videoWall">
		</div>
	</div>
	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
	<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
	<script src="scripts/script.js"></script>
	<script src="scripts/alertify.min.js"></script>
	{{> ga}}
</body>
</html>