<div class="glass card" data-id="glass">
	{{> cards/components/navigationButtons}}
	<div class="cardContent">
		<div class="open"></div>
		<div class="closed">
			{{> cards/data/glass/closed}}
		</div>
	</div>
</div>