@import "../../../styles/global.scss";

.footer {
  $linkSeparation: 15px;
  $footerHeight: 30px;
  $footerTextColor: $COLOR_LIGHT_GRAY;

  display: block;
  background-color: $COLOR_BLUE_BLACK;
  color: $footerTextColor;
  font-size: $FONT_SMALL;
  padding: $footerHeight;

  .links {
    // Not phone
    @media (min-width: 800px) {
      float: left;

      li {
        display: inline;

        @include text-normal();
        &:not(:first-child) {
          padding-left: $linkSeparation;
        }

        a {
          color: $footerTextColor;
        }
      }

      li + li:before {
        color: $footerTextColor;
        content: "|";
        padding-right: $linkSeparation;
      }
    }

    li {
      a {
        transition: color $TRANSITION_SPEED;
      }

      &:hover a {
        color: $COLOR_WHITE;
      }
    }
  }

  // Phone
  @media (max-width: 800px) {
    .message {
      padding-top: 20px;
      text-align: center;
    }

    li {
      text-align: center;
      display: block;
    }
  }

  // Not phone
  @media (min-width: 800px) {
    .message {
      float: right;
    }
  }
}
