@use 'sass:math';
@import '../../../styles/global.scss';

.header {
  background: linear-gradient(90deg, darken($COLOR_RED, 10%), lighten($COLOR_RED, 10%));

  height: 100%;
  overflow: hidden;
  text-align: center;

  $boxWidth: 700px;
  $boxHeight: 500px;

  .centerBox {
    position: absolute;
    left: 50%;
    top: 50%;
    width: $boxWidth;
    height: $boxHeight;
    margin-left: math.div($boxWidth, -2);
    margin-top: math.div($boxHeight, -2);

    @media (max-width: 768px) {
      width: math.div($boxWidth, 2);
      margin-left: math.div($boxWidth, -4);
    }

    .name {
      @include text-title();
      font-size: $FONT_XXLARGE;
      line-height: 1;
      margin: 12px 0;
      left: 4px;

      @media (max-width: 768px) {
        font-size: $FONT_LARGE;
        line-height: 1;
        padding-bottom: 0;
      }
    }

    .bio {
      @include text-normal();
      color: $COLOR_DARK_RED;
      font-size: $FONT_LARGE;
      margin-bottom: 50px;
      .bullet {
        padding: 0 10px;
      }

      @media (max-width: 768px) {
        font-size: $FONT_SMALL;
      }
    }
    .link {
      font-size: $FONT_MEDIUM;
      line-height: 2em;
      letter-spacing: 2px;
      color: $COLOR_DARK_RED;
      transition: color $TRANSITION_SPEED ease;
      &:hover {
        color: $COLOR_WHITE;
      }
      @media (max-width: 1000px) {
        color: $COLOR_WHITE;
      }
    }
  }
}