@import "../../../styles/global.scss";

// Colors
$lightColor: $COLOR_LIGHT_ORANGE;
$baseColor: $COLOR_WHITE;
$darkColor: $COLOR_DARK_ORANGE;

.projects {
  background: linear-gradient(90deg, darken($baseColor, 10%), lighten($baseColor, 10%));
  overflow-x: hidden;
  color: $COLOR_WHITE;

  > .title {
    @include text-title();
    // color: $COLOR_WHITE;
  }

  .sectionDescription {
    text-align: center;
    color: $COLOR_DARK_GRAY;
  }

  .cardLayout {
    margin-bottom: 20px;
    position: relative;
    text-align: center;
  }
}
.projectsList {
  text-align: center;
}
.card {
  display: inline-block;
  margin: 10px;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  color: WHITE;
  transition: transform $TRANSITION_SPEED;

  &:hover {
    transform: scale(1.1);

    .textArea {
      padding-top: 20px;
      height: 100%;
      background-color: rgba($COLOR_GRAY, 0.85);

      .title {
        padding-bottom: 30px;
      }

      .description {
        display: block;
      }
    }
  }

  // @media (hover: none) {
  //   a:hover {
  //     background: yellow;
  //   }
  // }

  .photo {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
  }
  .textArea {
    height: 15%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px 3px 6px 3px;
    background-color: rgba($COLOR_GRAY, 0.4);

    .title {
      font-size: $FONT_XSMALL;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    .description {
      display: none;
      font-size: $FONT_XSMALL;
      line-height: 1.3;
      padding-bottom: 20px;
    }

    .urls {
      bottom: 0;

      .url {
        font-size: $FONT_SMALL;
        display: block;
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 800px) {
    width: 100px;
    height: 100px;

    .textArea {
      height: 30%;
      .title {
        font-size: $FONT_XXSMALL;
      }

      .description {
        display: none !important;
      }
    }

    .urls {
      display: none;
    }
  }

  @mixin card($color) {
    background-color: $color;
    font-weight: 700;
    font-size: $FONT_LARGE;
    text-align: center;
    padding: 10px;
  }

  .cardImage {
    width: 100%;
  }

  // Color per project
  &.eagleeye,
  &.dubhacks15f,
  &.rollen {
    img {
      padding-top: 10px;
    }
    .photo {
      width: 50%;
    }
  }
  &.eagleeye {
    @include card(rgb(166, 53, 51));
  }
  &.algodb {
    @include card(rgb(132, 193, 160));
  }
  &.nestvacationtracker {
    @include card(rgb(52, 152, 219));
  }
  &.capture {
    @include card(rgb(46, 204, 113));
  }
  &.harbor {
    @include card(rgb(241, 196, 15));
  }
  &.harmonic {
    @include card(rgb(232, 132, 59));
  }
  &.leappong {
    @include card(rgb(179, 214, 117));
  }
  &.hnplays2048 {
    @include card(rgb(241, 182, 5));
  }
  &.milestone {
    @include card(rgb(153, 82, 138));
  }
  &.thefourelements {
    @include card(rgb(115, 50, 42));
  }
  &.cellularwarfare {
    @include card(rgb(65, 109, 234));
  }
  &.vidwall {
    @include card(rgb(196, 76, 62));
  }
  &.glass-ocr {
    @include card(rgb(42, 36, 35));
  }
  &.areyouhungrynow {
    @include card(rgb(132, 193, 160));
  }
  &.sudosoldiers {
    @include card(BLACK);
  }
  &.acadee {
    @include card(rgb(133, 184, 75));
  }
  &.dubhacks14f {
    @include card(rgb(57, 39, 91));
  }
  &.dubhacks15f {
    @include card(rgb(237, 27, 120));
  }
  &.socketio {
    @include card(rgb(223, 112, 101));
  }
  &.speekr {
    @include card(rgb(3, 169, 244));
  }
  &.navi {
    @include card(rgb(29, 233, 197));
  }
  &.awear {
    @include card(rgb(21, 188, 221));
  }
  &.herder {
    @include card(rgb(255, 80, 87));
  }
  &.safebaby {
    @include card(rgb(254, 209, 86));
  }
  &.productgrunt {
    @include card(rgb(17, 17, 17));
  }
  &.rollen {
    @include card(rgb(69, 16, 27));
  }
  &.issues {
    @include card(rgb(236, 240, 243));
  }
  &.hawk {
    @include card(rgb(246, 166, 90));
  }
  &.snappo {
    @include card(rgb(144, 143, 179));
  }
}
