section#about
  h2.title About
  img.profile(src="/images/profileRot.jpg" alt="Grant Timmerman")
  p.longBio
    em Hello there!
    |  I'm Grant Timmerman, a platform engineer and open source enthusiast. I love building delightful developer experiences.
    br
