section#about
  h2.title About
  img.profile(src="/images/profileRot.jpg" alt="Grant Timmerman")
  p.longBio
    em Hello there!
    |  I'm Grant Timmerman, a
    = ' '
    a(href='http://en.wikipedia.org/wiki/Maker_culture') web entrepreneur
    |  and maker. I love making beautiful user experiences and tackling algorithmic challenges.
    br
