section#about
  h2.title About
  img.profile(src="/images/profileRot.jpg")
  p.longBio
    em Hello there!
    |  I'm Grant Timmerman, a student,
    = ' '
    a(href='http://en.wikipedia.org/wiki/Maker_culture') maker
    | , and web entrepreneur currently studying
    = ' '
    a(href='http://www.cs.washington.edu/') Computer Science
    = ' '
    | at the
    = ' '
    a(href='http://www.washington.edu/') University of Washington
    | . I love making beautiful user experiences and tackling algorithmic challenges.
    br