<section class="contact">
  <h2 class="title">Drop me a line.</h2>
  <div class="contactList">
    <ul>
      <a href="http://www.github.com/grant/"><li>{{> icons/github}}</li></a>
      <a href="http://www.linkedin.com/in/granttimmerman"><li>{{> icons/linkedin}}</li></a>
      <a href="http://www.twitter.com/granttimmerman"><li>{{> icons/twitter}}</li></a>
      <a href="http://www.facebook.com/granttimmerman"><li>{{> icons/fb}}</li></a>
      <a href="mailto:granttimmerman@gmail.com"><li>{{> icons/email}}</li></a>
    </ul>
  </div>
</section>