section#experience
  h2.title Experience
  p.description
    em Where I've worked
  ol.experienceList
    li
      .iconArea
        .squareTile
          .content
            img.svg(src='/images/icons/google.svg' alt='Google')
      .descriptionArea
        .titleBar
          h5.title Google - Engineer, Google Cloud, Serverless
          h6.dateRange 2019–
        p.description
          ul.descriptionBullets
            li Leads and builds <strong>Google Cloud Functions</strong> computing strategy though the Functions Framework. Built 7 open source function runtimes in collaboration with language experts: 
              a(href='https://git.io/gcfff') git.io/gcfff
            li Built <strong>Eventarc</strong> devX: Google CloudEvents repos generated client libraries and samples.
            li Built <strong>Cloud Workflows</strong> devX: IDE autocompletion, API client libraries, and samples.
            li <strong>International speaker</strong> for Google Cloud. Spoke at over <b>30</b> developer events in 12 countries (USA/CAN/LatAm/Europe/SEA). Audiences between 20 and 500 developers. 
              a(href='https://github.com/grant/talks').
          span.languages  (Node, Python, Go, Java, Ruby, PHP, .NET, Dart, C++)
      .descriptionArea
        .titleBar
          h5.title Google - Engineer, Workspaces (G Suite)
          h6.dateRange 2017–2019
        p.description
          ul.descriptionBullets
            li Designed, built, launched the <strong>Apps Script CLI</strong>, 
              a(href='https://github.com/google/clasp') google/clasp
              | . Sees 25k+ req/day. Used by thousands of devs building add-ons.
            li Designed and build <strong>G Suite's open source developer presence</strong>, 
              a(href='https://github.com/googleworkspace') googleworkspace
              | . Built API samples for Sheets, Slides, Drive, and other products.
          span.languages  (Node, Python, Go, Java, Ruby, PHP, .NET, Apps Script)
    li
      .iconArea
        .squareTile
          .content
            img.svg(src='/images/icons/sift.svg' alt='Sift')
      .descriptionArea
        .titleBar
          h5.title Sift Science - Software Engineer
          h6.dateRange 2016–2017
        p.description
          | Built a variety of features supporting Sift Science’s fraud APIs and web console. Features include workflows, enhanced payment and social profile data, mixpanel tracking.
          span.languages  (Java, React, SCSS)
    li
      .iconArea
        .squareTile
          .content
            img.svg(src='/images/icons/google.svg' alt='Google')
      .descriptionArea
        .titleBar
          h5.title Google - Software Engineer Intern
          h6.dateRange Summer 2015
        p.description
          | Designed and developed an Android device validator that dramatically reduces the number of failed app submission for Android Auto, TV, and Wear. The validator detects common app issues during develop time in Android Studio and submission time in the Play Store by 40%. 
          a(href='http://git.io/Je2NQ') git.io/Je2NQ
          span.languages  (Java, C++)
    li
      .iconArea
        .squareTile
          .content
            img.svg(src='/images/icons/sift.svg' alt='Sift')
      .descriptionArea
        .titleBar
          h5.title Sift Science - Software Engineer Intern
          h6.dateRange Winter 2015
        p.description
          | Built historical Sift scores visualization, feature gating/pricing changes backend and frontend, and redesigned user details page for Sift Science's console.
          span.languages  (Java, Maven, HBase, React, SCSS, D3)
    li
      .iconArea
        .squareTile
          .content
            img.svg(src='/images/icons/linkedin.svg' alt='LinkedIn')
      .descriptionArea
        .titleBar
          h5.title LinkedIn - Software Engineer Intern
          h6.dateRange Summer 2014
        p.description
          | Built the server-side infrastructure for internationalizing skills on LinkedIn, allowing recruiters to search for skilled professionals around the world independent of their language. The skills feature affects over 60 million page views per month and 320+ million members.
          span.languages  (Java, Kafka, Avro, Pig, MapReduce, Rest.li, Ruby)
    li
      .iconArea
        .squareTile
          .content
            img.svg(src='/images/icons/fb.svg' alt='Facebook')
      .descriptionArea
        .titleBar
          h5.title Facebook Open Academy - Socket.IO
          h6.dateRange Jan–June '14
        p.description
          | Hand-picked to contribute to Facebook’s open-sourced projects as a part of Facebook’s Open Academy Program. Created Socket.IO's official example app 
          a(href='http://socket.io/demos/chat/') Socket.IO Chat 
          | . This example is used to teach newcomers how to use Socket.IO from scratch. Here's a 
          a(href='https://cloudup.com/cMrYoTieM0c') video demo 
          | of the app given by Socket.IO's founder 
          a(href='https://github.com/guille') Guillermo Rauch
          | .
          span.languages  (JS)
    li
      .iconArea
        .squareTile
          .content
            img.svg(src='/images/icons/tableau.svg' alt='Tableau Software')
      .descriptionArea
        .titleBar
          h5.title Tableau - Software Engineer Intern
          h6.dateRange Summer 2013
        p.description
          | Designed and implemented two flagship features for Tableau’s big data visualization software:
        ul.descriptionBullets
          li
            | Fully built 
            a(href='http://www.tableausoftware.com/new-features/dashboard-transparency') transparent objects 
            | (e.g. legends, images, text regions) for Tableau’s web visualization engine. Feature shipped and was demoed live in front of 3,000 customers at Tableau’s Customer Conference 2013. Also codeveloped support for high dpi vizes.
            span.languages  (Script#)
          li
            | Developed Tableau’s #1 customer request 
            a(href='http://www.tableausoftware.com/new-features/javascript-api') JavaScript API
            |  feature: the ability to get a viz’s data programmatically (via getUnderlyingDataAsync and getSummaryDataAsync API commands) with the ability to support data cubes.
            span.languages  (Script#, Java, C++)
    li
      .iconArea
        .nor1.squareTile
          .content
            img(src='images/icons/nor1.png' alt='Nor1')
      .descriptionArea
        .titleBar
          h5.title Nor1 - Software Engineer Intern
          h6.dateRange Summer 2012
        p.description
          | Built comprehensive web applications doing both front-end and back-end development:
        ul.descriptionBullets
          li
            | Created a spreadsheet-like web application that allows hotel property managers to input current hotel inventory into Nor1’s analytical engine.
            span.languages  (CakePHP, JS)
          li
            | Built a live data feed web application that processed data from database records and presented the interpreted data in a user-friendly, easy-to-read live feed of real-time data.
            span.languages  (CakePHP, JS)
    li
      .iconArea
        .squareTile
          .content
            img.svg(src='/images/icons/kong.svg' alt='Kongregate')
      .descriptionArea
        .titleBar
          h5.title Kongregate - Game Developer
          h6.dateRange Nov '08–Nov '11
        p.description
          | Developed indie Flash games such as 
          a(href='http://www.kongregate.com/games/creeplover/cellular-warfare') Cellular Warfare 
          | and 
          a(href='http://www.kongregate.com/games/granttimmerman/the-four-elements') The Four Elements.
        span.languages (ActionScript, Kongregate API)

