section#experience
  h2.title Experience
  ol.experienceList
    li
      .iconArea
        include /includes/icons/linkedin
      .descriptionArea
        .titleBar
          h5.title LinkedIn - Software Engineer Intern
          h6.dateRange June - Sept '14
        p.description
          | Will join the LinkedIn's Profile Team this summer.
          span.languages  (Java, Scala, Play Framework)
    li
      .iconArea
        include /includes/icons/fb
      .descriptionArea
        .titleBar
          h5.title Facebook Open Academy - Socket.IO
          h6.dateRange Jan - June '14
        p.description
        | Hand-picked to contribute to Facebook’s open-sourced projects as a part of Facebook’s Open Academy Program. Created Socket.IO's official example app
        a(href='https://github.com/LearnBoost/socket.io/tree/master/examples/chat')  Socket.IO Chat
        a(href='https://cloudup.com/cMrYoTieM0c')  (Demo)
        | . Will continue to contribute to Socket.IO alongside other top CS students around the world under mentorship from creator of Socket.IO,
        a(href='https://github.com/guille')  Guillermo Rauch
        | .
        span.languages  (JS)
    li
      .iconArea
        include /includes/icons/tableau
      .descriptionArea
        .titleBar
          h5.title Tableau Software - Software Engineer Intern
          h6.dateRange June - Sept '13
        p.description
        | Designed and implemented two flagship features for Tableau’s big data visualization software:
        ul.descriptionBullets
          li
            | Fully built
            a(href='http://www.tableausoftware.com/new-features/dashboard-transparency')  transparent objects
            |  (e.g. legends, images, text regions) for Tableau’s web visualization engine. Feature shipped and was demoed live in front of 3,000 customers at Tableau’s Customer Conference 2013. Also codeveloped support for high dpi vizes.
            span.languages  (Script#)
          li
            | Developed Tableau’s #1 customer request
            a(href='http://www.tableausoftware.com/new-features/javascript-api')  JavaScript API
            |  feature: the ability to get a viz’s data programmatically (via getUnderlyingDataAsync and getSummaryDataAsync API commands) with the ability to support data cubes.
            span.languages  (Script#, Java, C++)
    li
      .iconArea
        include /includes/icons/nor1
      .descriptionArea
        .titleBar
          h5.title Nor1 - Software Engineer Intern
          h6.dateRange June - Sept '12
        p.description
        | Built comprehensive web applications doing both front-end and back-end development:
        ul.descriptionBullets
          li
            | Created a spreadsheet-like web application that allows hotel property managers to input current hotel inventory into Nor1’s analytical engine.
            span.languages  (CakePHP, JS)
          li
            | Built a live data feed web application that processed data from database records and presented the interpreted data in a user-friendly, easy-to-read live feed of real-time data.
            span.languages  (CakePHP, JS)
    li
      .iconArea
        include /includes/icons/kongregate
      .descriptionArea
        .titleBar
          h5.title Kongregate - Game Dev
          h6.dateRange Nov '08 - Nov '11
        p.description
        | Developed indie Flash games such as
        a(href='http://www.kongregate.com/games/creeplover/cellular-warfare')  Cellular Warfare
        |  and
        a(href='http://www.kongregate.com/games/granttimmerman/the-four-elements')  The Four Elements
        | .
        span.languages  (ActionScript, Kongregate API)