<style>
@font-face {
  font-family: freight_micro_black;
  src: url(/fonts/freight_micro_black.ashx) format("woff");
}
</style>
<div class="squareTile">
	<div class="content">
		<img class="svg" src="/images/icons/kong.svg" alt="Kongregate">
	</div>
</div>