<div class="thefourelements card" data-id="thefourelements">
  {{> cards/components/navigationButtons}}
  <div class="cardContent">
    <div class="open"></div>
    <div class="closed">
      {{> cards/data/thefourelements/closed}}
    </div>
  </div>
</div>