header
  .centerBox
    h1.name Grant Timmerman
    h3.bio
      a(href='https://www.google.com/') Google Developer Platform Engineer
    ul
      a(href='#about')
        li About
      a(href='#experience')
        li Experience
      a(href='https://github.com/grant')
        li GitHub
      a(href='https://github.com/grant/talks')
        li Talks
      a(href='#projects')
        li Projects
  .arrow
    i.fa.fa-angle-down
