header
  .centerBox
    h1.name(style="opacity:0;") Grant Timmerman
    h3.bio(style="opacity:0;")
      a(href='https://siftscience.com/') Sift Science
      span.bullet •
      a(href='https://www.cs.washington.edu/') UW CSE
    ul(style='opacity:0;')
      a(href='#about')
        li About
      a(href='https://github.com/grant')
        li GitHub
      a(href='https://github.com/grant/talks')
        li Talks
      a(href='#projects')
        li Projects
  .arrow
    i.fa.fa-angle-down