header
  .centerBox
    h1.name Grant Timmerman
    h3.bio
      | Web Evangelist
      span.bullet !{" • "}
      | UW Computer Science
    ul
      a(href='/about')
        li About
      a(href='https://www.github.com/grant')
        li Github
      a(href='http://www.twitter.com/granttimmerman')
        li Twitter
      a(href='http://www.linkedin.com/in/granttimmerman')
        li LinkedIn
      a(href='#projects')
        li Projects
  .arrow V