.calArea
  h1.title Grant Timmerman's Calendar
  iframe.cal(src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23ea5f4e&amp;src=granttimmerman%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles")