<div class="top">
	<div class="svg"></div>
	<span class="username">grant</span>
</div>
<div class="bottom">
	<div class="followers stat">
		<strong class="statCount">0</strong><span>followers</span>
	</div>
	<div class="repos stat">
		<strong class="statCount">0</strong><span>repos</span>
	</div>
	<div class="following stat">
		<strong class="statCount">0</strong><span>following</span>
	</div>
</div>