<div class="top">
	<div class="svg"></div>
	<div class="username">grant</div>
</div>
<div class="bottom">
	<div class="followers stat">
		<strong class="statCount">0</strong>
		<div class="statCountTitle">followers</div>
	</div>
	<div class="repos stat">
		<strong class="statCount">0</strong>
		<div class="statCountTitle">repos</div>
	</div>
	<div class="following stat">
		<strong class="statCount">0</strong>
		<div class="statCountTitle">following</div>
	</div>
</div>