{{> cards/components/closeButton}}
<div class="leftArea">
	<img src="/images/profile.jpg" alt="Grant Timmerman" class="profilePhoto">
	<h3 class="username"><a href="github.com/grant">grant</a></h3>
	<p class="description">I &lt;3 open source. </p>
</div>
<div class="rightArea">
</div>