{{> cards/components/closeButton}}
<div class="leftArea">
	<img src="/images/profile.jpg" alt="Grant Timmerman" class="profilePhoto">
	<h3 class="username"><a href="https://github.com/grant">grant</a></h3>
	<p class="description">I &lt;3 open source. </p>
</div>
<div class="rightArea">
	<div class="eventArea">
		<h5 class="eventsTitle">Recent activity</h5>
		<ul class="events">
			<li>
				<div class="octicon octicon-alert"></div>
				<div class="body">
					Created issue <a href="URL">"Test all browsers"</a> for <a href="REPO">grant/granttimmerman</a>.
					<div class="date">2 days ago</div>
				</div>
			</li>
			<li>
				<div class="octicon octicon-alert"></div>
				<div class="body">
					Created issue <a href="URL">"Test all browsers"</a> for <a href="REPO">grant/granttimmerman</a>.
					<div class="date">2 days ago</div>
				</div>
			</li>
		</ul>
	</div>
</div>