@import '../../styles/global.scss';

.pageContent {
  background-color: $COLOR_LIGHT_BLACK;
  color: $COLOR_WHITE;
  min-height: 100%;
}

.title {
  text-align: center;

  @media (max-width: 1080px) {
    font-size: $FONT_MEDIUM;
  }
}

.videoList {
  display: grid;
  
  grid-template-rows: auto;
  justify-items: center;
  min-height: 100%;

  @media (min-width: 1080px) {
    grid-template-columns: auto auto auto;
  }
  
  // 1 column
  @media (max-width: 1080px) {
    grid-template-columns: 1 auto auto !important;
  }
}

.videoBlock {
  display: block;
  padding: 0 10px;
  margin: 20px;
  max-width: 320px;

  .videoArrow {
    opacity: 0.3;
  }
  &:hover {
    .videoArrow {
      opacity: 1;
    }
  }
}

.videoTitle {
  max-width: 300px;
}
.videoArrow {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  padding-top: 20px;
  padding-left: 150px;
  font-size: 100px;
  color: rgba(239, 239, 239, 0.95);
}

.videoDate {
  color: $COLOR_GRAY; 
}