/**
 * Global styles
 */

/* Font */
@mixin font-light {
	font-weight: 100;
	color: #ccc;
}
@mixin font-dark {
	font-weight: 100;
	color: #666;
}

// Colors
$RED: rgb(234, 95, 78);
$YELLOW: rgb(255, 236, 132);
$BLUE: rgb(145, 207, 215);
$GRAY: rgb(222, 219, 203);
$DARK_GRAY: rgb(65, 64, 61);
$BROWN: rgb(119, 107, 93);
$DARK_BLUE: rgb(145, 189, 225);