/* Global CSS */
// TODO: Make everything percent-based
* {
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 46px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

p {
	font-size: 16px;
}

strong {
	font-weight: 700;
}

button {
	-webkit-appearance: none;
	background: transparent;
	border: 0;
	outline: 0;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* Scroll bars */
// https://beautifulpixels.com/goodies/create-custom-webkit-scrollbar/
/*
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
	height: 100%;
	display: block;
	background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
	background-color: #3b3b3b;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-color: #666;
	-webkit-border-radius: 6px;
}
*/