/* Global CSS */
// TODO: Make everything percent-based
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

p {
	font-size: 16px;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* Font */
@mixin font-light {
	font-weight: 100;
}

/* Page */
$pageBackgroundColor: #333;
$headerHeight: 40px;
$navButtonBottomBorderHeight: 3px;
$cardSidePadding: $headerHeight;
$cardAreaPadding: 5px;
// $cardAreaColor: rgb(240, 245, 250);
// $headerColor: rgb(66, 72, 77);

.pageContent {
	height: 100%;
	font-family: 'Open Sans' Arial;
	background-color: $pageBackgroundColor;
}

/* Page header */
.pageContent > header {
	position: absolute;
	top: 0;
	left: 0;

	// background-color: $headerColor;
	overflow: hidden;
	width: 100%;
	height: $headerHeight;

	.logo {
		border-bottom-right-radius: 2px;
		width: $headerHeight;
		height: $headerHeight;
	}

	.leftHeader, .rightHeader {
		height: 100%;
	}

	/* Nav Buttons */
	nav {
		height: 100%;
	}

	.searchButton {
		height: $headerHeight;
		border: 0;
		margin: 0;

		cursor: pointer;
		border-bottom-left-radius: 2px;
		font-size: 20px;
	}

}

/* Card area */
.cardArea {
	height: calc(100% - 50px);
	padding: $headerHeight $cardSidePadding 0 $cardSidePadding;
}

.card {
	display: inline-block;
	overflow: hidden;

	width: 33.3%;
	height: 40%;
	min-height: 300px;
	margin: 5px;

	color: #eee;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	background-color: rgb(241, 98, 100);
	border-radius: 3px;
}

.cardImageArea {
	width: 100%;
	min-height: 100px;
	background-color: #444;
}

.cardTextArea {
	padding: 3%;
	height: 100%;

	// hr {
	// 	height: 1px;
	// 	width: 80px;
	// 	border: none;
	// 	background-color: rgba(44,44,44,0.2);
	// }
}

/* Specific cards */
.card {
	&.profile {
		background-color: rgb(58, 58, 58);

		.name {

		}

		.bio {
			@include font-light;
		}

		.name, .bio {
			text-align: center;
		}

		.profilePhoto {
			display: block;
			margin-left: auto;
			margin-right: auto;

			padding-bottom: 1%;

			width: 25%;
			border-radius: 50%;
		}

		.experienceList {
			height: 25%;
			text-align: center;

			li {
				width: 10%;
				height: 100%;
				display: inline-block;

				margin: 0 3%;
			}

			// TODO: Move this somewhere else
			.nor1 {
				background-color:rgb(73,78,84);
				padding:.1%;
			}

			// How to make a percentage-based square tile
			// http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
			.squareTile {
				position: relative;
				width:100%;

				// Curved edges
				border-radius: 10%;
				overflow: hidden;

				&:before {
					content: "";
					display: block;
					padding-top: 100%;
				}

				.content {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
				}

				.svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}