/* Global CSS */
// TODO: Make everything percent-based
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

p {
	font-size: 16px;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* Font */
@mixin font-light {
	font-weight: 100;
	color: #ccc;
}
@mixin font-dark {
	font-weight: 100;
	color: #666;
}

/* Scroll bars */
// https://beautifulpixels.com/goodies/create-custom-webkit-scrollbar/
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
	height: 100%;
	display: block;
	background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
	background-color: #3b3b3b;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-color: #666;
	-webkit-border-radius: 6px;
}

/* Page */
$pageBackgroundColor: #222;
$headerHeight: 40px;
$navButtonBottomBorderHeight: 3px;
$cardSidePadding: $headerHeight;
$cardAreaPadding: 5px;
// $cardAreaColor: rgb(240, 245, 250);
// $headerColor: rgb(66, 72, 77);

@mixin littleTextShadow {
	text-shadow: 3px 3px rgba(20, 10, 0, .1);
}
@mixin littleLayerShadow {
	box-shadow: 3px 3px rgba(20, 10, 0, .1);
}
@mixin layerShadow {
	box-shadow: 10px 10px rgba(20, 10, 0, .1);
}

.pageContent {
	height: 100%;
	font-family: 'Open Sans', Arial;
	background-color: $pageBackgroundColor;
}

/* Page header */
.pageContent > header {
	position: absolute;
	top: 0;
	left: 0;

	// background-color: $headerColor;
	overflow: hidden;
	width: 100%;
	height: $headerHeight;

	.logo {
		border-bottom-right-radius: 2px;
		width: $headerHeight;
		height: $headerHeight;
	}

	.leftHeader, .rightHeader {
		height: 100%;
	}

	/* Nav Buttons */
	nav {
		height: 100%;
	}

	.searchButton {
		height: $headerHeight;
		border: 0;
		margin: 0;

		cursor: pointer;
		border-bottom-left-radius: 2px;
		font-size: 20px;
	}

}

/* Card area */
.cardArea {
	height: calc(100% - 50px);
	padding: $headerHeight $cardSidePadding 0 $cardSidePadding;
}

.card {
	$cardMargin: 0.5%;
	display: inline-block;

	width: 33.3%;
	height: 40%;
	min-height: 300px;
	padding: $cardMargin;

	// Open or not open
	&:not(.open) .cardContent {
		cursor: pointer;
		overflow: hidden;
	}

	// Generic card content
	.cardContent {
		position: relative;
		height: 100%;
		overflow: hidden;

		color: #eee;
		box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
		border-radius: 3px;

		.open {
			// Hack to make it square
			.closeButton {
				$size: 4%;
				position: absolute;
				width: $size;
				overflow: hidden;

				&:before {
					content: "";
					display: block;
					padding-top: 100%;
				}

				.content {
					overflow: hidden;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;

					padding: 10% 15%;
					background: linear-gradient(to right bottom, rgba(0,0,0,.3) 50%, transparent 50%);
					user-select: none;

					@include font-dark;
					cursor: pointer;
				}
			}
		}

		.closed {

		}

		.open, .closed {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
}

.cardImageArea {
	width: 100%;
	min-height: 100px;
	background-color: #444;
}

/* Specific cards */
.card {
	&.profile .cardContent {
		$cardSidePadding: 2%;

		.open {
			.profileText {
				width: 66.6%;
				height: 100%;

				padding: 1.5% 2%;
				overflow-y: scroll;

				.name {
					@include littleTextShadow;
				}

				.twitterHandle {
					padding-top: 1%;
					@include font-light;
				}

				.longBio {
					padding: 1% 0;
					line-height: 150%;

					&:first-letter {
						float: left;
						font-size: 400%;
						line-height: 100%;
						padding-right: .5%;
					}
				}

				.experienceList {
					padding-top: 1%;

					& > li {
						overflow: hidden;
						padding-bottom: 1%;
					}

					.iconArea {
						width: 10%;
					}

					.descriptionArea {
						width: 90%;
						padding-left: 2%;

						.titleBar {
							padding-bottom: 0.5%;
							overflow: hidden;

							.title {
								float: left;
							}

							.dateRange {
								float: right;
							}
						}

						.description, .descriptionBullets {
							@include font-light;
							line-height: 150%;
							list-style: disc;
							list-style-position: inside;
						}
					}

					.iconArea, .descriptionArea {
						float: left;
					}
				}
			}

			$videoColor: rgb(220, 165, 160);
			.videoArea {
				width: 33.3%;
				height: 100%;
				overflow: hidden;

				.profileVideo {
					// width: 100%;
				}
			}

			.profileText, .videoArea {
				float: left;
			}
		}

		.closed {
			padding: $cardSidePadding;

			.profileText {
				$textWidth: 80%;
				width: $textWidth;
				margin: 0 (100% - $textWidth)/2;
				.name {
				}

				.bio {
					@include font-light;
				}

				.name, .bio {
					text-align: center;
					@include littleTextShadow;
				}
			}

			.profilePhoto {
				display: block;
				margin-left: auto;
				margin-right: auto;

				padding-bottom: 1%;

				height: 50%;
				border-radius: 50%;

				// Shadow
				@include layerShadow;
			}

			// TODO: Make this right
			hr {
				margin-top: 2%;
				height: 1%;
				width: 20%;
				border: none;
				background-color: #999;
				@include littleLayerShadow;
			}

			.experienceList {
				height: 25%;
				padding: 1% 0;
				text-align: center;

				li {
					width: 13%;
					height: 100%;
					display: inline-block;

					margin: 0 3%;
				}
			}
		}

		.open, .closed {
			background-color: rgb(58, 58, 58);
			background: -webkit-linear-gradient(top, #505050 0%, #3a3a3a 100%);
		}
	}

	&.thefourelements {
		.closed {
			background: url('/images/cards/thefourelements/cover.svg') no-repeat center center;
		}
	}
	&.cellularwarfare {
		.closed {
			background: url('/images/cards/cellularwarfare/cover.svg') no-repeat center center;
		}
	}
	&.thefourelements, &.cellularwarfare {
		.cardContent {
			.open {
				.leftArea {
					width: 33.3%;
					padding: 1.5% 2%;
					background-color: rgb(241, 98, 100);

					.name {
						@include littleTextShadow;
					}
					.description, .instructions {
						@include font-light;
						padding-top: 1%;
					}
					.plays {
						@include font-light;
						padding-top: 1%;
					}
				}
				.rightArea {
					position: relative;
					width: 66.6%;
					background-color: black;
				}
				.leftArea, .rightArea {
					float: left;
					height: 100%;
				}
			}

			.closed {
				background-size: cover;
			}
		}
	}
}

// How to make a percentage-based square tile
// http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
.squareTile {
	position: relative;
	width:100%;

	// Shadow
	@include layerShadow;

	$borderRadius: 10%;
	// Curved edges for shadow
	border-radius: $borderRadius;
	overflow: hidden;

	&:before {
		content: "";
		display: block;
		padding-top: 100%;
	}

	.content {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		// Curved edges
		border-radius: $borderRadius;
		overflow: hidden;
	}

	.svg {
		width: 100%;
		height: 100%;
	}

	// TODO: Move this somewhere else
	&.nor1 {
		background-color:rgb(73,78,84);
		padding: .1%;

		img {
			width: 90% !important; // TODO: Remove !important
			margin-top: 25%;
			margin-left: 5%;
		}
	}
}