{{> cards/components/closeButton}}
<div class="leftArea">
  <h3 class="name">Vidwall</h3>
  <p class="description">Use Youtube's API </p>
  <h4>Programming highlights:</h4>
  <ul class="devnotes">
    <li>Youtube API</li>
    <li>Dynamic resizing</li>
  </ul>
  <a href="https://github.com/granttimmerman/Flash-Games/tree/master/Games/Cellular%20Warfare">See the source on Github</a>
</div>
<div class="rightArea">
</div>