<div class="vidwall card" data-id="vidwall">
	<div class="cardContent">
		<div class="open">
			{{> cards/data/vidwall/open}}
		</div>
		<div class="closed">
			{{> cards/data/vidwall/closed}}
		</div>
	</div>
</div>