{{> cards/components/closeButton}}
<div class="searchArea">
	<h3 class="title">Search anything</h3>
	<span class="queryArea">
		<span class="hashtag">#</span>
		<span class="query">psy</span>
	</span>
</div>