<section class="github">
  <h2 class="title">Github</h2>

  <div class="leftArea">
    <div class="content">
      <div class="githubsvg"></div>
      <h3 class="username"><a href="https://github.com/grant">grant</a></h3>
      <p class="description">I &lt;3 open source. </p>
      <div class="followers stat">
        <strong class="statCount">0</strong>
        <div class="statCountTitle">followers</div>
      </div>
      <div class="repos stat">
        <strong class="statCount">0</strong>
        <div class="statCountTitle">repos</div>
      </div>
      <div class="following stat">
        <strong class="statCount">0</strong>
        <div class="statCountTitle">following</div>
      </div>
    </div>
  </div>
  <div class="rightArea">
    <div class="content">
      <h5 class="eventsTitle">Recent activity</h5>
      <ul class="events"></ul>
    </div>
  </div>
</section>