// Global variables

// Colors
$COLOR_WHITE: rgb(255, 255, 255);
$COLOR_DARK_WHITE: rgb(225, 225, 225);
$COLOR_LIGHT_GRAY: rgb(190, 190, 190);
$COLOR_GRAY: rgb(119, 119, 119);
$COLOR_DARK_GRAY: rgb(65, 64, 61);
$COLOR_LIGHT_BLACK: rgb(34, 34, 34);
$COLOR_BLACK: rgb(24, 24, 24);
$COLOR_BROWN: rgb(119, 107, 93);
$COLOR_LIGHT_RED: rgb(242, 144, 135);
$COLOR_RED: rgb(234, 95, 78);
$COLOR_DARK_RED: rgb(160, 47, 42);
$COLOR_LIGHT_ORANGE: lighten(rgb(232, 132, 59), 20%);
$COLOR_ORANGE: rgb(232, 132, 59);
$COLOR_DARK_ORANGE: rgb(172, 82, 39);
$COLOR_YELLOW: rgb(255, 236, 132);
$COLOR_LIGHT_GREEN: rgb(168, 212, 188);
$COLOR_GREEN: rgb(138, 192, 158);
$COLOR_DARK_GREEN: rgb(116, 141, 120);
$COLOR_AQUA: rgb(100, 200, 200);
$COLOR_LIGHT_BLUE: lighten(rgb(145, 207, 215), 20%);
$COLOR_BLUE: rgb(145, 207, 215);
$COLOR_DARK_BLUE: rgb(73, 161, 167);
$COLOR_BLUE_BLACK: rgb(45, 62, 82);
$COLOR_PURPLE: rgb(183, 143, 216);

// Font Sizes
$FONT_XHUGE: 130px;
$FONT_HUGE: 100px;
$FONT_XXLARGE: 80px;
$FONT_XLARGE: 50px;
$FONT_LARGE: 40px;
$FONT_MEDIUM: 26px;
$FONT_SMALL: 16px;
$FONT_XSMALL: 12px;
$FONT_XXSMALL: 8px;

// Transitions
$TRANSITION_SPEED_FAST: 100ms;
$TRANSITION_SPEED: 200ms;
$TRANSITION_SPEED_SLOW: 1000ms;

// Text
@mixin text-normal() {
  font-family: "Open Sans", "Helvetica Neue Thin", "HelveticaNeue-Thin", "helvetica neue", helvetica, arial, "lucida grande", sans-serif;
}
@mixin text-title() {
  color: $COLOR_LIGHT_BLACK;
  font-weight: 700;
  font-size: $FONT_LARGE;
  letter-spacing: 9px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0 10px 0;
}

// Media queries
// TODO: I don't think this works
$MEDIA_PHONE: "not all and (min-width: 1000px)";
$MEDIA_NOTPHONE: "all and (min-width: 1000px)";



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    bottom: 10px;
  }
  40% {
    bottom: 30px;
  }
  60% {
    bottom: 15px;
  }
}

@keyframes glideDown {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
