@import '../../styles/global.scss';

.iframe {
  width: 100%;
  height: 100%;
}
.pageContent {
  background-color: $COLOR_RED;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.calArea {
  width: 100%;
  height: 100%;
}
.calArea .title {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  position: absolute;
  pointer-events: none;
  color: #fff;
  white-space: nowrap;
}
.calArea .cal {
  border-width: 0;
  padding-top: 50px;
  width: 100%;
  height: 100%;
}
.calArea .cal .iframe {
  width: 100%;
  height: 100%;
}
