@import '../global'

footer
  linkSeparation = 15px
  footerHeight = 30px
  footerTextColor = LIGHT_GRAY
  background-color BLUE_BLACK
  font-size FONT_SMALL
  color footerTextColor
  .links
    li
      @media notPhone
        display inline
        &:not(:first-child)
          padding-left linkSeparation
      transition color transitionSpeed
      &:hover
        color WHITE
  @media notPhone
    height footerHeight * 2
    padding footerHeight
    li + li:before
      color footerTextColor
      content "|"
      padding-right linkSeparation
    .links
      float left
    .message
      float right
  @media phone
    padding-top 15px
    text-align center
    li
      padding-bottom 5px
    .message
      padding linkSeparation 0 linkSeparation 0
