name: build
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Install pnpm
      uses: pnpm/action-setup@v4
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'pnpm'
        cache-dependency-path: '**/pnpm-lock.yaml'
    - name: Build app
      run: |
        cd frontend
        pnpm install --frozen-lockfile
        pnpm build
