name: deploy
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  deploy:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'
      - id: auth
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
          service_account: ${{ steps.auth.outputs.service_account }}
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'
      - name: Deploy Frontend to Cloud Run
        run: |
          cd frontend
          pnpm install --frozen-lockfile
          pnpm run deploy
      - name: Deploy Scripts to Cloud Run
        run: |
          cd scripts
          pnpm install --frozen-lockfile
          pnpm run deploy
